.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container .event-container{
  text-decoration: none
}

.container {
  @media (max-width: 520px) {
    h3 {
      font-size: 1rem;
    }
  }
}
.event-wrapper {
  background-image: linear-gradient(rgb(147, 190, 229), rgb(136, 226, 166));
  .event-details-wrapper {
    background-color: lightgrey;
  }
  .btn-icon {
    filter: invert(1)
  }
}
.event-image {
  height: 100px;
  background-position: 80% 147%;
  background-size: cover;
}